@using CarsBiddingUsingBootstrap.Classes
@model CarOwnerDetails

<div><label class="column-name">@CarsBiddingUsingBootstrap.Localization.OwnerName</label><span class="colon">:</span><label class="column-value">@Model.OwnerName</label></div>
<div><label class="column-name">@CarsBiddingUsingBootstrap.Localization.OwnerPhoneNumber</label><span class="colon">:</span><label class="column-value">@Model.OwnerPhoneNumber</label></div>
<div><label class="column-name">@CarsBiddingUsingBootstrap.Localization.OwnerEmail</label><span class="colon">:</span><label class="column-value">@Model.OwnerEmail</label></div>

