@using CarsBiddingUsingBootstrap.Classes
@model CarWinnerDetails

<div><label class="column-name">@CarsBiddingUsingBootstrap.Localization.WinnerName</label><span class="colon">:</span><label class="column-value">@Model.WinnerName</label></div>
<div><label class="column-name">@CarsBiddingUsingBootstrap.Localization.WinnerPhoneNumber</label><span class="colon">:</span><label class="column-value">@Model.WinnerPhoneNumber</label></div>
<div><label class="column-name">@CarsBiddingUsingBootstrap.Localization.WinnerEmail</label><span class="colon">:</span><label class="column-value">@Model.WinnerEmail</label></div>

