<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cars Bidding" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    @*<link href="~/Content/style.css" type="text/css" rel="stylesheet" media="all">*@<!--style with yellow color-->
    <link href="~/Content/Sky_Style.css" rel="stylesheet" /><!--style with blue color-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- favicon pakage -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#5bbad5">
    @RenderSection("linkTag", false)
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- favicon pakage -->
    <!-- font-awesome icons -->
    @RenderSection("flexsliderCss", false)<!-- flexslider-CSS -->
    @*<link rel="stylesheet" href="~/Content/chocolat.css" type="text/css" media="screen">*@
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/CustomeStyle.css" rel="stylesheet" />
    <link href="~/Content/MediaQuery.css" rel="stylesheet" />
    <link href="~/Content/loading-screen-style.css" rel="stylesheet" />
    @RenderSection("CssStyleTag", false)
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    @*
        we become call these fonts from our project which we downloaded it in project
        then we call it in Sky_Style.css file
        <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">*@
    <!-- //web-fonts -->
</head>
<body id="page-top" class="scrollStyle" data-spy="scroll" data-target=".navbar-fixed-top" style="@(ViewBag.ShowLoadScreen == true ? "overflow:hidden" : "")">
    <!-- banner -->
    <!-- header -->
    <div class="header-w3layouts">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Car Trade</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="btn-group xs-notification-dropdown visible-xs-block">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle bell blue-circle-dropdown"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                            <ul class="notifications dropdown-menu scrollStyle user-notification">
                            </ul>
                        </div>
                    }
                    <h1 class="w3lslogo"><a href="@Url.Action("Index","Home")">@CarsBiddingUsingBootstrap.Localization.CB<span style="bottom:15px">@CarsBiddingUsingBootstrap.Localization.CarsBidding</span></a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right cl-effect-15">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li>@Html.ActionLink(CarsBiddingUsingBootstrap.Localization.Home, "Index", "Home", null, new { @class = "page-scroll", data_hover = CarsBiddingUsingBootstrap.Localization.Home })</li>
                        @{
                            //we want to display About &  link just when we exists in Home Page
                            //because the About page exists inside Home Page

                            string CurrentPath = HttpContext.Current.Request.Url.AbsolutePath;
                            if (CurrentPath == "/" || CurrentPath.Contains("Home"))
                            {
                                //when access Home without enter Controller & action Name the AbsolutePath will => /

                                <li><a class="page-scroll" href="#about" data-hover="@CarsBiddingUsingBootstrap.Localization.About">@CarsBiddingUsingBootstrap.Localization.About</a></li>
                                <li><a class="page-scroll" href="#gallery" data-hover="@CarsBiddingUsingBootstrap.Localization.Gallery">@CarsBiddingUsingBootstrap.Localization.Gallery</a></li>
                            }
                            else
                            {
                                <li>@Html.ActionLink(CarsBiddingUsingBootstrap.Localization.About, "Index", "Home", null, new { @class = "page-scroll", data_hover = CarsBiddingUsingBootstrap.Localization.About })</li>
                                <li>@Html.ActionLink(CarsBiddingUsingBootstrap.Localization.Gallery, "Gallery", "Gallery", null, new { @class = "page-scroll", data_hover = CarsBiddingUsingBootstrap.Localization.Gallery })</li>
                            }
                        }

                        <li>@Html.ActionLink(CarsBiddingUsingBootstrap.Localization.Contact, "Contact", "Contact", null, new { @class = "page-scroll", data_hover = CarsBiddingUsingBootstrap.Localization.Contact })</li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(CarsBiddingUsingBootstrap.Localization.SignIn, "SignIn", "Login", null, new { @class = "page-scroll", data_hover = CarsBiddingUsingBootstrap.Localization.SignIn })</li>
                            <li>@Html.ActionLink(CarsBiddingUsingBootstrap.Localization.SignUp, "SignUp", "Login", null, new { @class = "SignUp page-scroll", data_hover = CarsBiddingUsingBootstrap.Localization.SignUp })</li>
                            <li>
                                <div class="btn-group xsmall-dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-xs setting-icon blue-circle-dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle visible-xs" data-hover="@CarsBiddingUsingBootstrap.Localization.Langauge">@CarsBiddingUsingBootstrap.Localization.Langauge<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        @foreach (CarsBiddingUsingBootstrap.Classes.Language lang in CarsBiddingUsingBootstrap.Classes.LanguageManager.GetAvailableLanguages())
                                        {
                                            <li>@Html.ActionLink(lang.LanguageFullName, "ChangeLanguage", "Language", new { lang = lang.LanguageCultureName, returnUrl = CurrentPath }, null)</li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {

                            <li class="LoginInfoDDMenu">
                                <div class="btn-group xsmall-dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-xs"><img src="~/images/user.png" alt="Avatar"> @User.Identity.Name.Split('|').FirstOrDefault() <b class="caret"></b></a>
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle visible-xs" data-hover="@User.Identity.Name.Split('|').FirstOrDefault()"><img src="~/images/user.png" alt="Avatar"> @User.Identity.Name.Split('|').FirstOrDefault()<i class="fa fa-chevron-down login-chevron-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-user link-icon"></i>@CarsBiddingUsingBootstrap.Localization.Profile</a></li>
                                        <li><a href="#"><i class="fa fa-paint-brush link-icon" aria-hidden="true"></i>@CarsBiddingUsingBootstrap.Localization.ThemeColor</a></li>
                                        <li class="sub-dropdown">
                                            <a href="#" class="Login-lang-link" data-toggle="dropdown"><i class="fa fa-language link-icon"></i>@CarsBiddingUsingBootstrap.Localization.Langauge</a>
                                            <ul class="dropdown-menu hoverable-dropdown open-right" role="menu">
                                                @foreach (CarsBiddingUsingBootstrap.Classes.Language lang in CarsBiddingUsingBootstrap.Classes.LanguageManager.GetAvailableLanguages())
                                                {
                                                    <li>@Html.ActionLink(lang.LanguageFullName, "ChangeLanguage", "Language", new { lang = lang.LanguageCultureName, returnUrl = CurrentPath }, null)</li>
                                                }
                                            </ul>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="@Url.Action("SignOut","Login")"><i class="fa fa-sign-out link-icon"></i>@CarsBiddingUsingBootstrap.Localization.Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="hidden-xs">
                                <div class="btn-group notification-dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle bell blue-circle-dropdown"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                                    <ul class="notifications dropdown-menu scrollStyle user-notification">
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    <!-- //header -->
    <div class="RenderBody">
        @RenderBody()
    </div>
    <!-- subscribe -->
    <div class="subscribe-agileinfo services jarallax ">
        <div class="container wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-offset="300">
            <h4>@CarsBiddingUsingBootstrap.Localization.SubscribeOurNewsletter</h4>
            <form action="#" method="post">
                <input type="email" name="email" placeholder="@CarsBiddingUsingBootstrap.Localization.EnterYourEmail" required="">
                <input type="submit" value="@CarsBiddingUsingBootstrap.Localization.Subscribe">
                <div class="clearfix"> </div>
            </form>
        </div>
    </div>
    <!-- //subscribe -->
    <!-- copy rights start here -->
    <div class="copyw3-agile">
        <div class="container">
            <div class="w3_agile_social_icons footer-w3icons">
                <ul>
                    <li class="wow animate__animated animate__bounceIn" data-wow-duration="2s" data-wow-offset="100" data-wow-delay=".5s"><a href="#" class="icon icon-cube agile_facebook"></a></li>
                    <li class="wow animate__animated animate__bounceIn" data-wow-duration="2s" data-wow-offset="100" data-wow-delay="1s"><a href="#" class="icon icon-cube agile_rss"></a></li>
                    <li class="wow animate__animated animate__bounceIn" data-wow-duration="2s" data-wow-offset="100" data-wow-delay="1.5s"><a href="#" class="icon icon-cube agile_instagram"></a></li>
                    <li class="wow animate__animated animate__bounceIn" data-wow-duration="2s" data-wow-offset="100" data-wow-delay="2s"><a href="#" class="icon icon-cube agile_t"></a></li>
                </ul>
            </div>
            <p class="wow animate__animated animate__fadeInUp" data-wow-duration="2s" data-wow-offset="70">© 2021 Cars Bidding. All Rights Reserved | Developed by  <a href="" target="_blank">Sh.Malek</a> </p>
        </div>
    </div>
    <!-- //copy right end here -->
    <!-- modal -->
    <div class="modal about-modal w3-agileits fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <img src="~/images/g5.jpg" alt="">
                    <h5>Cras rutrum iaculis enim</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at. Donec fringilla lacus eu pretium rutrum. Cras aliquet congue ullamcorper. Etiam mattis eros eu ullamcorper volutpat. Proin ut dui a urna efficitur varius. uisque molestie cursus mi et congue consectetur adipiscing elit cras rutrum iaculis enim, Lorem ipsum dolor sit amet, non convallis felis mattis at. Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque, eget porttitor massa vulputate. </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade scrollStyle" id="NotificationPopUp" tabindex="-1" role="dialog" aria-labelledby="NotificationPopUpTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" id="Notificationheader">
                    <h2 class="modal-title" id="NotificationPopUpTitle">Modal title</h2>
                </div>
                <div class="modal-body" id="NotificationBody">
                    <h5 id="NotificationBodyHead"></h5>
                </div>
                <div class="modal-footer">
                    <button id="CloseBtn" type="button" class="btn btn-default" data-dismiss="modal">@CarsBiddingUsingBootstrap.Localization.Close</button>
                </div>
            </div>
        </div>
    </div>
    @*
        why i sholud be to specify what's the cases that
        i will show load screen in it??
        becuse for example:when do some post action or
        any action then we use return View() will be show
        load screen and i don't want that so i just to
        show screen load in Index [get] action fro every page
        so i need to use ShowLoadScreen ViewBag in order to
        specify if the user come from [Get] index action or
        else action.
    *@
    @if (ViewBag.ShowLoadScreen == true)
    {
        <section class="loading-screen">
            <div class="breeding-rhombus-spinner">
                <div class="rhombus child-1"></div>
                <div class="rhombus child-2"></div>
                <div class="rhombus child-3"></div>
                <div class="rhombus child-4"></div>
                <div class="rhombus child-5"></div>
                <div class="rhombus child-6"></div>
                <div class="rhombus child-7"></div>
                <div class="rhombus child-8"></div>
                <div class="rhombus big"></div>
            </div>
        </section>
    }
    <script src="~/Scripts/Notification.js"></script>
    <!-- js -->
    @*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- //modal -->
    <!-- timer scripts -->
    @RenderSection("TimerScripts", false)
    <!-- //timer scripts -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

    <!-- //smooth-scrolling-of-move-up -->
    <!-- Scrolling Nav JavaScript -->
    <script src="~/Scripts/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!-- jarallax -->
    <script src="~/Scripts/jarallax.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax -->
    <!-- FlexSlider -->
    @RenderSection("FlexSliderScripts", false)
    <!-- //End-FlexSlider -->
    <!-- pop-up-script -->
    @*
        <script src="~/Scripts/jquery.chocolat.js"></script>
        <script type="text/javascript">
                $(function () {
                    $('.view-seventh a').Chocolat();
                });
        </script>*@
    <!-- //pop-up-script -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/BootstrapModal-Animation.js"></script>
    <script src="~/Scripts/Helper.js"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            GetAllUserNotification();
        </script>
    }
    <script>
        //Loading Screen using JQuery
        //start
        $(window).load(function () {
            $(".loading-screen .breeding-rhombus-spinner").fadeOut(1000, function () {
                $("body").css("overflow", "auto");
                $(this).parent().fadeOut(1000, function () {
                    $(this).remove();
                });
            });
        });
        //end
    </script>
    <script src="~/Scripts/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    @RenderSection("scripts", false)

    @*
        A- chocolat.js => this script make the images in Gallery open as a pop up in same page
        B- flexslider.js => this script enable the slider that exists in Home Page
        C- jarallax.js => search about parallex in google to see example what's the script can doing.
    *@

</body>
</html>

